

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body {
	background-image: url('../img/nightshade.gif');
	color: #fff;
	font-family: 'Pompiere', 'sans-serif';
	text-align: center;
	font-size: 2em;
	margin: 0px;
	padding: 0px;
}

h1 {
	font-weight: 800;
	text-transform: uppercase; 
	font-size: 2em;
}

header {
}


.window {
	height: 100%;
	margin: 0 auto;
	padding: 0px;
	margin: 0px;
	background-repeat: no-repeat;
	overflow:hidden;
	background-size: cover;
	background-image: url('../img/beach1.jpg');
	background-color: #fff;
}

.window img {
	background-size: cover;
	min-width: 100%;
}

.photo_credit {
height: 40px;
}

.selectors {
	margin: 20px 0
}


/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) { 
	.photo_credit {
	}
 }

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) { 
	.photo_credit {
		padding-top: 20px;
		float: right;
	}

 }

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
		
 }

