

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body {
	background-image: url('../img/nightshade.gif');
	color: #fff;
	font-family: 'Raleway', 'sans-serif';
	text-align: center;
}

h1 {
	font-weight: 800;
}

.window {
	height: 100%;
	margin: 0 auto;
	padding: 0px;
	margin: 0px;
	background-repeat: no-repeat;
	overflow:hidden;
	background-size: cover;
	background-image: url('../img/beach1.jpg');
	background-color: #fff;
}



.window img {
	background-size: cover;
	min-width: 100%;
}





