

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body {
	background-image: url('../img/nightshade.gif');
	color: #fff;
	font-family: 'Pompiere', 'sans-serif';
	text-align: center;
	font-size: 2em;
}

h1 {
	font-weight: 800;
	text-transform: uppercase; 
	float:left;
	font-size: 3em;
}

h2 {
	font-size: 2em;
}

header {
	height: 80px;
}

.wrapper {
	margin:0 auto;
}

.window {
	height: 100%;
	margin: 0 auto;
	padding: 0px;
	margin: 0px;
	background-repeat: no-repeat;
	overflow:hidden;
	background-size: cover;
	background-image: url('../img/beach1.jpg');
	background-color: #fff;
}

.window img {
	background-size: cover;
	min-width: 100%;
}

.selectors {
	display:block;
	float: none;
	margin: 10px 0px;
}

footer {

}





